<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, visitez https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c2825ced-5e9e-4b4d-8eaa-68e3ac0a5096/resourcegroups/webapi20230616183544ResourceGroup/providers/Microsoft.Web/sites/webapi20230616183544</ResourceId>
    <ResourceGroup>webapi20230616183544ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/c2825ced-5e9e-4b4d-8eaa-68e3ac0a5096/resourceGroups/APIWeb/providers/Microsoft.ApiManagement/service/webapiYvan/apis/webapi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webapi20230616183544.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>eec468f2-2aea-4a50-853c-36b443ae25c7</ProjectGuid>
    <MSDeployServiceURL>webapi20230616183544.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>webapi20230616183544</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$webapi20230616183544</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>